
/* aqui comeca a sessao main com os campos de login com nome e senha e botao*/

section.login{
    margin: 0;
    padding: 0;
}

div.login__container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 423px;
    height: 291px;
    margin: 96px 509px 96px 508px

}

h3.login__title{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #464646;
}

input.login__email, input.login__senha{
    width: 423px;
    height: 63px;
    padding: 0 40px;
    background-color: #F5F5F5;
    border: none;
}

div.login__container button{
    width: 503px;
    height: 62px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    background: #2A7AE4;
    cursor: pointer;
}