

/*Sessao de todos os Produtos*/

section.produto__todos{
    /*margin:  40px 40px 92px;*/
    margin: 32px 52px;
   
}

div.produto__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

div.produto__title h2{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #464646;
}

div.produto__title button{
    width: 182px;
    height: 51px;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    background: #2A7AE4;
}

.produtos__container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-right: 49px;
}

ul.produtos__container{
    list-style: none;
}

li.produto__item img{
    width: 176px;
    height: 174px;
} 

li.produto__item{
    text-align: left;
}

li.produto__item h3{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #464646;
}

li.produto__item p{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
}

