:root{
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo-de-campo: #F5F5F5;
   --cor-de-sessao: #464646;
   --cor-de-texto: #464646;

   --cor-de-fundo: #ffffff;
   --cor-de-link: #2A7AE4;

   /*botoes*/
    /*botao azul*/
   --cor-de-fundo-botao-azul: #2A7AE4;
   --cor-de-texto-botao-azul: #ffffff;

    /*botao branco*/
   --cor-de-texto-hover:#464646;
   --cor-de-border-hover: #585858;
    
}


section.topo{
    display: flex;
    width: 1136px;
    justify-content: space-between;
    align-items: center;
    align-content: flex-end;
    height: 10vh;
    margin: 5px 60px;
}

section header{
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    width: 400px;
    height: 10vh;
}

#logo{
    width: 176px;
    height: 50px;
}


div.search__div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px;
    
}

header div.border__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    width: 393px;
    height: 40px;
    background-color: var(--cor-de-fundo-de-campo);
    margin-left: 20px;
    border-radius: 20px;
}

#search__input{
    flex: 1;
    background-color: var(--cor-de-fundo-de-campo);
    border: none;
    outline: none;
    width: 200px;
}

#lupa{
    margin-left: 5px;
}

div.login__botao button{
    width: 182px;
    height: 51px;
    margin-right: 80px;
    border: solid 1px var(--cor-de-link);
    color: var(--cor-de-link);
    font-size: 16px;
    font-weight: 400;
    background: var(--cor-de-fundo);
}

div.login__botao button:hover{
    color: var(--cor-de-texto-hover);
    border-color: var(--cor-de-border-hover);
    transition: 0,5s;
}

/*Sessao Hero banner*/
section.hero{
    width: 1442px;
    height: 352px;
    margin: 22px 0;
}

div.hero__content{
    margin-left: 32px;
    color: #F5F5F5;
    position: relative;
    top: 40%;
    transform: translateY(-130%); 
    justify-content: space-around;
}

div.hero__content {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}


div.hero__content h1{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
    padding: 0;
    margin: 0;
}

div.hero__content h3{
    padding: 0;
    margin: 1px;
}

#botaoPromo{
margin: 1rem;
justify-content: center;
align-items: center;
padding: 16px;
width: 130px;
height: 51px;
background: orange;
border: none;
color: black;
cursor: pointer;
box-shadow: 0 3px #999;
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
}


#botaoPromo:hover {
    background-color: lightgrey;
    
}

/*Sessao das Categorias de Produtos e seus Produtos*/

section.categoria__produto{
    margin: 0 40px 40px 92px;
}

div.categoria__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 50px 10px;
    
}

div.categoria__title h2{
    width: 148px;
    height: 38px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: var(--cor-de-sessao);
}

div.botaoVerTudo button{
    background-color: #464646;
    width: 72px;
    height: 24px;
    border: none;
    color: var(--cor-de-link);
    font-size: 16px;
    font-weight: 400;
    background: var(--cor-de-fundo);
    cursor: pointer;
}

div.botaoVerTudo:hover button{
    color: var(--cor-de-border-hover);
}

div.botaoVerTudo img{
    width: 24px;
    height: 24px;
}

div.produto__container{
    background: lightgrey;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
    padding: 10 0;
    margin: 0;
}

div.produto__item{
    text-align: left;
}

div.produto__item h3{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--cor-de-sessao);
}

div.produto__item p{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: var(--cor-de-texto);
}

div.produto__item a{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: var(--cor-de-link);
    text-decoration: none;

}

div.produto__item a:hover{
    color: var(--cor-de-texto-hover);
}
                
img.produto__imagem{
    width: 176px;
    height: 174px;
}

/*footer*/

section.contato{
    background: #EAF2FD;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 115px;
    width: 1440px;
    
}

div.contato__container{
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 112px;
    width: 1136px;
    height: 340px;
    margin-right: 250px;
    align-items: center;
    
}

img.contato__logo{
    width: 176px;
    height: 50px;

}

div.contato__links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    width: 196px;
    height: 234px;
}

div.contato__links a{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: var(--cor-de-sessao);
}

div.contatoform{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 460px;
    height: 340px;
}

div.contatoform h3{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    width: 100%;
}

div.contatoform input, textarea{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    width: 560px;
    outline: none;
    border: none;
    resize: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 0.5rem;
}

div.contatoform input{
    height: 66px;
}

div.contatoform textarea{
    height: 102px;
}

div.contatoform button{
    width: 182px;
    height: 51px;
    margin-right: 80px;
    border: none;
    color: var(--cor-de-texto-botao-azul);
    font-size: 16px;
    font-weight: 400;
    background: var(--cor-de-fundo-botao-azul);
}

div.contatoform button:hover{
    background-color: var(--cor-de-fundo);
    color: var(--cor-de-texto-hover);
    border: var(--cor-de-border-hover);
}


/*rodape*/

section.rodape {
    width: 1440px;
    height: 62px;
    padding: 22px;
    align-content: center
}


div.rodape__container{
    display: flex;
    align-items: center;
    justify-content: center;
}

  
div.rodape__container p{
    text-align: center;
    color: black;
    font-family: raleway;
    font-size: 16px;
    margin: 10px 0 0;
}
  
  
div.rodape__container img{
      width: 30px;
      margin-left: 8px;
      

}
  
div.rodape__container  img:hover, img:focus {
    background-color: #585858;
    color: #000000; 
    transition: 0.5s;
}

