:root{
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo-de-campo: #F5F5F5;
   --cor-de-sessao: #464646;
   --cor-de-texto: #464646;

   --cor-de-fundo: #ffffff;
   --cor-de-link: #2A7AE4;

   /*botoes*/
    /*botao azul*/
   --cor-de-fundo-botao-azul: #2A7AE4;
   --cor-de-texto-botao-azul: #ffffff;

    /*botao branco*/
   --cor-de-texto-hover:#464646;
   --cor-de-border-hover: #585858;
    
}


section.topo{
    display: flex;
    width: 1136px;
    justify-content: space-between;
    align-items: center;
    align-content: flex-end;
    height: 10vh;
    margin: 5px 60px;
}

section header{
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    width: 400px;
    height: 10vh;
}

#logo{
    width: 176px;
    height: 50px;
}
